body {
    background-image: url("images /Group 262.png"); 
   
}
div {
    background-color: white ;

}
h1 { 
   <link url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Montserrat&display=swap');
    font-family:  'Coming Soon', cursive;
    font-size: 24px;
P {
    
    font-family: 'Montserrat', sans-serif;
     <link url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Montserrat&display=swap');
    <style>; 
    font-size: 18px; 

}

}